@{
    ViewData["Title"] = "Home Page";
}

<div class="container text-center">
    <img class="logo" src="images/MLogo.png" alt="">
    <h1 class="font-weight-bold">Software Developer & Digital Designer</h1>
    <p class="text-muted">Looking to make valuable contributions using my skills, talent, and creativity</p>
    <video id="wiggle" tabindex="0" autobuffer preload autoplay playsinline>
        <source type='video/mp4;' src="video/wiggle540.mp4">
        p Sorry, your browser does not support the &lt;video&gt; element.
    </video>
</div>
<div class="container-fluid text-center greeting hello">
    <h1>Hello World! I'm Matt.</h1>
    <p>I am a recent college graduate with a Bachelor in Computer Science, 
        proficcient in plain "C", and a gifted graphical designer with passion 
        for 3-D art. I am naturally curious and excited to learn.</p>
</div>
<div class="container text-center hideme" id="skills">
    <h1>Skills</h1>
    <br>
    <div class="row">
        <div class="col-sm">
            <h2 class="icon">Programming Languages  <i class="fas fa-language"></i></h2>
            <ul>
                <li>
                    C, C++, C#
                </li>
                <li>
                    Python
                </li>
                <li>
                    JavaScript
                </li>
                <li>
                    Java
                </li>
                <li>
                    Shell Script
                </li>
                <li>
                    x86 Assembly
                </li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="icon">Tools  <i class="fas fa-tools"></i></h2>
            <ul>
                <li>
                    Git/GitHub
                </li>
                <li>Eclipse</li>
                <li>Unix Shell</li>
                <li>Atom</li>
                <li>XCode</li>
                <li>VSCode</li>
                <li>Microsoft Office Suite</li>
                <li>HTML/CSS</li>
                <li>Cinema 4D</li>
                <li>Adobe Photoshop, After Effects Illustrator, InDesign, Lightroom</li>
            </ul>
        </div>
        <div class="col-sm">
            <h2 class="icon">Networking  <i class="fas fa-ethernet"></i></h2>
            <ul>
                <li>Berkeley Sockets</li>
                <li>TCP/IP</li>
                <li>Distributed Systems</li>
            </ul>
            <h2 class="icon">Operating Systems  <i class="fab fa-windows"></i></h2>
            <ul>
                <li>MacOS</li>
                <li>Linux</li>
                <li>Windows</li>
            </ul>
        </div>
    </div>
</div>
<div class="projects container text-center">
    <br>
    <br>
    <h1>My Latest Projects</h1>
    <br>
    <br>
    <div class="row">
        <div class="col-sm proj">
            <h4><a href="http://18.212.224.76/">Snowmies</a></h4>
            <p>A web application for arranging group-rides up on the ski resort. 
                Includes log-in and registration.
                Created using Python, MySQL, Flask, Ajax, and Django.
            </p>
        </div>
        <div class="col-sm proj">
            <h4><a href="https://github.com/MattBoim/RateGames">Board Game Rater</a></h4>
            <p>Project for posting and rating board games. Utilyzes MongoDb, Express, Angular, and Node.js.</p>
        </div>
        <div class="col-sm proj">
            <h4><a href="http://54.144.79.235/">LiftMap+</a></h4>
            <p>Tired of switching between tabs for lift statuses and the trail map? This is the solution for you.</p>
        </div>
    </div>
</div>
<hr>

<div class="education container text-center">
    <h3>Education <i class="fas fa-graduation-cap"></i></h3>
    <p>Coding Dojo | University of Oregon | De Anza Community College</p>
</div>

<div class="container-fluid footer text-center">
    <img class="logoF" src="images/MLogo.png" alt="">
    <p>Created by Matt Rozenboim</p>
</div>